.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: white;

}

.title {
    line-height: 1.15;
    font-size: 4rem;
    font-family: 'Mont-Heavy';
    font-weight: 400;
}

.join {
    font-family: 'Mont-Heavy';
    font-weight: 400;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.leftContainer {
    background-image: url('../public/background.png');
    background-size: cover;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightContainer {
    background-color: #151F2B;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    padding: 25px;

}

.logoLeft {
    height: 200px;
}

.logoRight {
    height: 40px;
}

.btnSignUp {
    padding: 7px 45px;
    border-radius: 15px;
    background-color: #378FEE;
    color: white;
    border: none;
    cursor: pointer;
}

.btnSignUp:hover {
    background-color: #0071f3dd;
}

.btnSignIn {
    padding: 7px 48px;
    border-radius: 15px;
    background-color: transparent;
    color: #378FEE;
    border: 1px solid white;
    cursor: pointer;
}

.btnSignIn:hover {
    background-color: hsl(0, 0%, 15%);
}

@font-face {
    font-family: 'Mont-Heavy';
    src: url('../components/asset/font/Mont/Mont-HeavyDEMO.otf');
    font-weight: 400;
    font-style: normal;
}

.modalSignUp {
    height: 40vh;
    width: 45vw;
    justify-content: center;
    align-items: center;
    background-color: #151F2B;
    margin: 30vh 30vw;

}